<h1>BigPicture#new</h1>
<p>Find me in app/views/big_picture/new.html.erb</p>
<br>
<h1>New Article</h1>
<%= form_with scope: :big_picture, local: true do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :description %><br>
      <%= form.text_field :description %>
    </p>

    <p>
      <%= form.label :flavor %><br>
      <%= form.text_field :flavor %>
    </p>

    <p>
      <%= form.label :location %><br>
      <%= form.text_field :location %>
    </p>

    <p>
      <%= form.label :time %><br>
      <%= form.text_field :time %>
    </p>

    <p>
      <%= form.label :culture %><br>
      <%= form.text_field :culture %>
    </p>

    <p>
      <%= form.submit %>
    </p>
<% end %>